<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA-INICIAL</title>

    <style>
        body{
            background-color: {{cor_fundo_html}};
        }

        img{
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    

    <main>

        <figure>
            <img src="/static/img/{{lista_imagens_html}}" alt="FOTOS-PANTHEON">
        </figure>


        <section class="falas-sec-01">

            <p>{{falas_pantheon_html}}</p>

        </section>



    </main>




</body>
</html>