<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    
    <section class="sec_01">
        <form class="col-s12" action="/post/cadastrarcor" method="POST">


            <section class="sec_input">
                
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix"></i>
                        <textarea name="cores" id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Digite uma frase do seu gosto</label>
                    </div>
                </div>
            
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </section>

        <section class="sec_desc">
            {% for cor in lista_cores_cadastradas_html %}
                <div class="row">
                    <div class="col s12 m5">
                        <div class="card-panel" style="background-color: {{cor}};">

                            <span class="white-text">{{cor}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </section>
            
        </form>
    </section>
</body>
</html>