<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITE-PANTHEON</title>
    <link rel="stylesheet" href="./sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
        body{
            background: {{cor_fundo_html}};
            }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        main{
            width: 100%vh;
            height: 60%vw;
            font-family: "Bebas Neue", serif;
        }
        .sec_hist{
            
        }
    </style>

</head>
<body>
    <header class="cabecalho">

        

    </header>

    <main>
        <h1>PANTHEON</h1>

        <section class="sec_img">
            <figure class="imagens">
                <img src="../static/img/pantheon.png" alt="FOTO-PANTHEON">
                <img src="../static/img/monte-targon.jpg" alt="">
            </figure>
        </section>

        <section class="sec_hist">
            <h2>Ele é um guerreiro imbatível, um símbolo de força e coragem, mas também de tragédia e sacrifício. Vamos à narrativa:

            Pantheon, na verdade, era um mortal chamado Atreus. Ele nasceu nas terras de Targon, uma montanha mística onde os mortais e os deuses se encontram. Targon é uma região repleta de forças cósmicas e divinas, e seus habitantes acreditam que a única maneira de alcançar a grandeza é subir a montanha e conquistar seu destino. Atreus, desde jovem, sonhava em se tornar o protetor de sua tribo, mas ele sabia que a batalha seria difícil, pois teria que enfrentar inimigos poderosos.
            
            A oportunidade de se tornar um herói chegou quando um exército de criaturas míticas ameaçou sua terra. Atreus se ofereceu para lutar, mas sabia que precisava de mais poder para vencer. Ele fez um pacto com o espírito guerreiro de Pantheon, um deus guerreiro, que lhe concedeu suas forças e sua armadura imortal. Como resultado, Atreus se transformou no campeão de Pantheon, assumindo a sua identidade e os poderes divinos para proteger sua terra. Ele se tornou um ser quase invencível, com habilidades excepcionais em combate.
            
            No entanto, Atreus começou a perceber que sua ligação com Pantheon o estava consumindo. Ele começou a perder sua identidade e a se tornar cada vez mais uma sombra do deus guerreiro, até que, finalmente, ele foi completamente possuído pelo espírito de Pantheon. Ele se tornou uma criatura que não era mais Atreus, mas o próprio Pantheon, com toda a fúria e imortalidade de uma divindade guerreira. O conflito interno de Atreus e sua luta contra o domínio de Pantheon se tornou uma das maiores tragédias de sua vida.
            
            A história de Pantheon em League of Legends é um conto de sacrifício, luta e a perda da própria humanidade. O antigo mortal Atreus agora é um semideus que luta em nome de uma força cósmica, mas sempre com o peso de ter deixado sua própria vida e identidade para trás. Ele é uma figura que representa o eterno conflito entre o humano e o divino, o sacrifício pessoal por um bem maior e, talvez, a busca pela redenção.</h2>

            <ul>
                <li>ELE É FODA</li>
                <li>POSSUI UMA LANÇA</li>
                <li>TEM UM ESCUDO</li>
                <li>É UM DEUS NO CORPO DE UM HUMANO</li>
            </ul>
        </section>
        

    </main>



</body>
</html>